@{
    ViewBag.Title = "Home Page";
    Layout = null;

    var cityList = ViewBag.CityList;
    var villageList = ViewBag.VillageList;
}

@model loginSystem.Models.userData

@Scripts.Render("~/bundles/modernizr")



<head>
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" media="all" href="~/Content/main.css">
    <title></title>
</head>
<body>
    <div class="wrapper">
        <header class="main-header">
            <div class="container">
                <div class="header-txt">
                    <h3>為什麼選擇AQUA</h3>
                    <h3>企業</h3>
                    <h3>探索</h3>
                    <h3>市場價值</h3>
                </div>
                <form class="header-function">
                    <button type="button" class="" onclick="login()">登入</button>
                    <button type="button" class="" onclick="">註冊</button>
                </form>
            </div>
        </header>
        <div class="banner">
            <div class="container">
                <div class="banner-txt">
                    <h2>
                        Crazy for
                        AQUA users
                    </h2>
                    <h4>
                        針對AQUA用戶，我們量身打造一個讓人生瘋狂的計畫，那是您曾經覺得困難或是沒有時間做的事物，透過專人輔導以及解說之後，就會充滿信心並且願意嘗試。
                    </h4>
                </div>
                <div class="banner-form">
                    <span style="color:red;">@ViewBag.Msg</span>
                    <form class="form-input" method="post" action="">

                        <div class="form-set">
                            <label for="inputAccount">帳號</label>
                            <input type="text" class="form-control" id="account" name="account" placeholder="輸入帳號" value="@Model.account" />

                        </div>
                        <div class="form-set">
                            <label for="inputNewPassword">新的密碼</label>
                            <input type="password" class="form-control" id="newPassword" name="password1" placeholder="輸入新密碼" value="" />

                        </div>
                        <div class="form-set">
                            <label for="inputAgainPassword">再次確認</label>
                            <input type="password" class="form-control" id="againPassword" name="password2" placeholder="密碼再輸入一次" value="" />

                        </div>
                        <div class="form-set">
                            <label for="address">地址</label>
                            <select id="city" name="city">
                                <option value="">全部</option>
                                @for (int i = 0; i < cityList.Count; i++)
                                {
                                    <option value="@cityList[i].CityId" @Html.Raw(Model.city == cityList[i].CityId ? "selected" : "")>@cityList[i].CityName</option>
                                }
                            </select>
                            <select id="village" name="village">
                                @if (villageList.Count == 0)
                                {
                                    <option value="">請選鄉鎮市</option>
                                }
                                else
                                {
                                    <option value="">請選擇</option>
                                    for (int i = 0; i < villageList.Count; i++)
                                    {
                                        <option value="@villageList[i].VillageId" @Html.Raw(Model.village == villageList[i].VillageId ? "selected" : "")>@villageList[i].VillageName</option>
                                    }
                                }

                            </select>
                        </div>
                        <div class="form-set">
                            <input type="text" class="form-control" id="text-address" name="address" placeholder="請輸入地址" value="@Model.address" />
                        </div>
                        <button type="submit" class="btn btn-primary">確定</button>
                        <button type="reset" class="btn btn-warning">清除</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    function login() {
        location.href = "/Home/Login";
    }
    $("#city").change(function () {
        var value = $("#city").val();
        console.log(value);
        $.ajax({
            type: "Post",
            url: "../Home/Village?id=" + value,
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                $("#village").empty();
                if (data == null) {
                    $("#village").append("<option value=''>請選擇縣市</option>");
                } else {
                    var jo = JSON.parse(data);
                    $("#village").append("<option value=''>請選擇</option>");
                    for (var i = 0; i < jo.length; i++) {
                        $("#village").append("<option value='" + jo[i].VillageId + "'>" + jo[i].VillageName + "</option>");
                    }
                }
            },
            faliure: function (errMsg) {
                $("#village").empty();
                $("#village").append("<option value=''>請選擇縣市</option>");
            }
        })
    });

</script>

